<div class="container pt-3 border-0 mx-auto bg-light"  style=" box-shadow: 5px 5px 12px black; width:60%; height: 300px; border-radius: 7px;margin-top: 100px;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0 border-0 bg-light">
                <div class="Card-header">
                    <h3 class="mb-0 mb-3 login text-center">Register</h3>
                </div>
                <div class="card-body">
                    <div class="form">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label u_name" for="floatingInput">UserName</label>  
                            </div>
                            <div class="col-6">
                                <input type="email" class="form-control box_input" id="floatingInput" [(ngModel)]="registerUserData.userName" placeholder="Please enter your email">  
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6">
                                <label class="form-label u_name" for="floatingPassword">Password</label>  
                            </div>
                            <div class="col-6">
                                <input type="password" class="form-control box_input" id="floatingPassword" [(ngModel)]="registerUserData.password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check"></div>
                            </div>
                        <button class="btn btn-log" (click)="registerUser()" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
